@import "tailwindcss";

:root {
  --background: #FFE5E8;
  --bordo-text: #CB0B40;
  --bordo-svg: #FF0047;
  --card-background: #FFD1D8;
}

@theme inline {
  --color-background: var(--background);
  --color-bordo-text: var(--bordo-text);
  --color-bordo-svg: var(--bordo-svg);
  --color-card-background: var(--card-background);
  --font-literata: var(--font-literata);
  --font-joan: var(--font-joan);
}


body {
  background: var(--background);  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
